:root{
    --light: lavender;
    --dark: purple;
}



body {
background: var(--light);
font-size: 22px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    font-size: 38px;
    padding: 10px;
}
h1{
    text-align:center;
}
input[type=submit]{
    background-color: purple;
    color: var(--light);
    cursor: pointer;

}
.container{
    background: white;
    max-width: 600px;
    display: block;
    margin: 60px auto 0;
    padding: 15px;

}
#new-todo-form{
    display:flex
}

#new-todo{
    flex-grow: 1;
}

